<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatGPT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='img/openAILogo.png') }}" alt="Logo OpenAI">
    </div>
    
    <form method="POST" action="{{ url_for('chatbot') }}">
        <label for="textarea">Escribe algo para enviar a ChatGPT:</label>
        <br>
        <textarea id="textarea" name="textarea" rows="5" cols="30"></textarea>
        <br>
        <button type="submit">Enviar</button>
    </form>

    {% if conversation %}
    <h2>Historial de conversación:</h2>
    <div style="border: 1px solid #333; padding: 10px; background-color: #f9f9f9;">
        {% for message in conversation %}
            <p><strong>{{ message.role }}:</strong> {{ message.content }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <form method="POST" action="{{ url_for('reset_conversation') }}"> <!-- Usar url_for para la acción de reinicio -->
        <button type="submit">Reiniciar Conversación</button>
    </form>

    <br>
    <a href="/">Volver al inicio</a> <!-- Enlace para volver al inicio -->
</body>
</html>
